body{
    color :#fff !important;
}
.container-fluid{
    padding-right:0;
    padding-left:0;
    background-color: #0F131E;
}
.row{
    margin-left:0;
    margin-right:0;
}
h1::after{
    display:block;
    height:2px;
    background-color:rgb(213,216,22);
    content:" ";
    width:100px;
    margin: 0 auto;
    margin-top: 40px;
}
/*--------Menu -------------*/
/*---------login --------------*/
.nav-login .navbar-nav .dropdown .dropdown-menu a{
    color: #757575;
    color:black;
}
.nav-item {
    display: inline;
}
.list-menu {
    display: flex !important;
}
.nav-link{
    display: inline;
    color:#fff;
    font-size: 14px;
}
.list-menu-div{
    padding-top:10px;
}
.bg-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.7);
    padding:20px;
}
.bg-dark .navbar-nav .nav-link:hover{
    color: #fff !important;
   
}
/*-----menu----------*/
.bg-dark .list-menu .nav-link {
    color: rgba(255, 255, 255, 0.7);
    padding:20px;
}
.bg-dark .list-menu .nav-link:hover{
    color: #fff !important;
    
   
}
.dropdown-menu{
    border-bottom: 2px solid #ffc107 !important;
    border-radius: 0rem;
    padding:10px;
}
.dropdown-menu a{
    font-size: 0.8125rem ;
    color: #757575;
}
.dropdown-menu:hover{
    display:block;
}
.navbar{
    width:100%;
    padding-top:10px;
    padding-bottom: 15px;
}

.navbar-brand .logo{
    width:161px;
    height:43px;
}

@media screen and (max-width:996px) {
    .navbar-brand .logo{
        width:131px;
        height:33px;
    }
    .nav-login li{
        margin:0px;
    }
   
}
@media screen and (max-width:990px) {
    .nav_search{
        display: none;
    }
    

}

.header1 li{
    margin:10px;
}
.row{
    margin-right: 0;
    margin-left: 0;
}
.list-menu-div {
    padding-top: 0px;
}
/*         ----- xu ly su kien khi hover hien class khac --------*/
.nav-item:hover .dropdown-menu{
    display:block;
}
.dropdown-item:hover{
    background-color: #ffc107!important;
}


/*
                            
                           */
/*-------------------cart----------------*/
.cart1::after {
    font-family: 'themify';
    top: -2rem;
    width: 4rem;
    height: 4rem;
    font-size: 1.7rem;
    left: calc(50% - 2rem + .125rem);
}
[data-step].cart1::after {
    content: attr(data-step);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    left: -1rem;
    border-radius: 2rem;
    font-weight: 500;
    color: #ffc107;
}
.input-cart{
    width:30px;
    background-color: #0F131E;
    border:0;
    color:#fff;
    text-align: center;
}
.t ::after{
    font-family: 'themify';
    top: -2rem;
    width: 4rem;
    height: 4rem;
    font-size: 1.7rem;
    left: calc(50% - 2rem + .125rem);
}
.title{
    font-weight: 600;
    font-size: 0.9375rem !important;
}
.btn{
    border-radius: 0 !important;
}
.left-your-cart{
    width:66.6% !important;
    
}
.right-your-cart{
    width:33% !important;
    padding-left:20px !important;
}
@media screen and (max-width:995px){
    .left-your-cart{
        width:100% !important;
        
    }
    .right-your-cart{
        width:100% !important;
        margin-top:30px;
    }
}
/*-------------------------  footer  -----------------------*/
.footer{
    background-color: #1a1a1a !important;
    color: #f8f9fa !important;
}
li{
    list-style-type: none !important;
}
.logo_content{
    margin-top:30px
}
.icon{
    display: inline;
}
.icon .item{
  padding-right:20px;
  color: #f8f9fa !important;
}
.tile{
    margin-top:30px;
    padding-bottom:30px;
}
@media screen and (max-width:991px){
    .col-md-3{
        width:49%;
    }
}
@media (min-width: 768px){
    .col-md-3 {
        -ms-flex: 0 49%;
        flex: 0 0 49%;
        max-width: 49%;
    }
    .icon {
        margin-top:20px;
    }
    .col-md-2 {
        -ms-flex: 0 0 49%;
        flex: 0 0 49%;
        max-width: 49%;
        padding-left:20px;
    }
}
