body{
    color :#fff !important;
}
.container-fluid{
    padding-right:0;
    padding-left:0;
    background-color: #0F131E !important;
    
}
a{
    text-decoration: none;
}
.row{
    margin-left:0;
    margin-right:0;
}
h1::after{
    display:block;
    height:2px;
    background-color:rgb(213,216,22);
    content:" ";
    width:100px;
    margin: 0 auto;
    margin-top: 40px;
}
/*--------Menu -------------*/
/*---------login --------------*/
.nav-login .navbar-nav .dropdown .dropdown-menu a{
    color: #757575;
    color:black;
}
.nav-item {
    display: inline;
}
.list-menu {
    display: flex;
    
}

.nav-link{
    display: inline;
    color:#fff;
    font-size: 14px;
}
.list-menu-div{
    padding-top:10px;
}
.bg-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.7);
    padding:20px;
}
.bg-dark .navbar-nav .nav-link:hover{
    color: #fff !important;
   
}
/*-----menu----------*/
.bg-dark .list-menu .nav-link {
    color: rgba(255, 255, 255, 0.7);
    padding:20px;
}
.bg-dark .list-menu .nav-link:hover{
    color: #fff !important;
    
   
}
.dropdown-menu{
    border-bottom: 2px solid #ffc107;
    border-radius: 0rem;
    padding:10px;
}
.dropdown-menu a{
    font-size: 0.8125rem ;
    color: #757575;
}
.dropdown-menu:hover{
    display:block;
}
.navbar{
    width:100%;
    padding-top:10px;
    padding-bottom: 15px;
}

.navbar-brand .logo{
    width:161px;
    height:43px;
}

@media screen and (max-width:996px) {
    .navbar-brand .logo{
        width:131px;
        height:33px;
    }
    .nav-login li{
        margin:0px;
    }
   
}
@media screen and (max-width:990px) {
    .nav_search{
        display: none;
    }
    

}
.header1 li a{
    color:#fff;
    font-size: 13px;

}
.header1 li{
    margin:10px;
}
.row{
    margin-right: 0;
    margin-left: 0;
}
/*----- xuwr ly su kien khi hover hieen class ----------*/
.nav-item:hover .dropdown-menu{
    display:block;
}
/*----------------------main----------*/
/*---- slick----*/
.slider-for img:active{
    border:1px solid #ffc107;
}
.n{
   
    border:1px solid #ffc107;
}
.item1::after{
    content:" |";
    margin-left:.5rem;
    
}
.explosive{
    /* position: relative; */
    /* height:100vh; */
    background-color: #0F131E !important;
}
.review_score{
    height: 30px;
}

.main-explosive {
    display: flex;
}
.explosive-left {
    width:66%;
    padding-right:10px;
}
.explosive-right{
    width:33%;
    padding-left:10px;
}
@media screen and (max-width:976px){
    .explosive-left {
        width:100%;
    }
    .explosive-right{
        width:100%;
        margin-top:20px;
    }
}
.text-gray{
    color: #adb5bd !important;
    font-size: 0.9375rem !important;
}
.text-gray span{
    font-size: 0.8125rem !important;
}
.breadcrumb a{
    text-decoration: none !important;
}
.review_score-btn::after{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent transparent transparent #ffc107;
    position: absolute;
    top: 0;
    left: 100%;
}
.review_score-btn{
    z-index: 2;
    display: flex;
    align-items: center;
    height: 30px;
    background: #ffc107;
    position: relative;
    padding: 5px 8px 5px 16px;
    color: #3a4048;
    font-weight: 600;
}
.star_rating{
    background: #151515;
    padding:2px;
    align-items: center;
    height:30px;
}
.star_rating::after{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 22px 0 22px 22px;
    border-color: transparent transparent transparent #151515;
    position: absolute;
   
    margin-left: 130px;
}
.tag-item{
    margin-top:20px;
    padding-left:15px;
   
}
.tag-item a{
    color:black;
    text-decoration: none !important;
    font-size: 0.75rem !important;
    border-radius: 3px;
}
.tag-item a:hover{
    color:black !important;
}
.tag-list{
    list-style: none;
}
/*  about*/
.comment-about{
    width:100%;
    height:100px;
    overflow: hidden;
    text-overflow: ellipsis;
    content: "";
    position:relative;

}
.showcomment-about{
    height:100%;
}
/*----------system*-----------*/
.title-left{
    color: #17a2b8 !important;
}
.title-right{
    color: #ffc107 !important;
}

/*----------more like this --------------*/
.imgmorelike{
    position: relative;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
.title-img-morelike{
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    background-color: rgba(0, 0, 0, 0.8);
    padding-left:10px;
    padding-bottom:10px;
}
.title-img-morelike a{
    text-decoration: none !important;
}
.pice-morelike{
    font-size: 0.875rem !important;
}
.title-img {
    position: absolute;
    bottom:0;
    left:0;
    right:50%;
    background-color: rgba(0, 0, 0, 0.8) !important;
}
/*-----------game information -------------*/
.iconn{
    text-decoration: none !important;
    border-radius: 3px;
}
.iconn:hover{
    background-color: #ffc107;
    
    
}
.fa-windows{
   font-size: 0.75rem !important;
   font-weight: 400 !important;
}


/*----- col-4------*/
.ex{
    background-color: rgba(0, 0, 0, 0.2) !important;
}
.save{
    background-color: #da2f69;
    border-radius:3px;
}
.ex2{
    background-color: rgba(0, 0, 0, 0.2) !important;
}


/*------------------img---------------*/
.image-item-fr{
    width:16%;
    padding-left:10px;
}
@media screen and (max-width:1121px){
    .image-item-fr{
        width:32%
    }
    .img1{
        display: none !important;
    }
}
.title-fea{
    font-size: 1.0625rem;
    font-weight: 400 !important;
    padding:8px;
    font-family: "Montserrat", sans-serif;
}
.titlee{
    font-weight: 500 !important;
    font-size: 0.875rem !important;
    text-decoration: none !important;
}
.titlee:hover{
    color: #00a8ff !important;
}
.date{
    font-size: 0.75rem !important;
}
.fa-eye{
    font-size: 80%;
    font-weight: 400;
}
.view{
    font-size: 80%;
    font-weight: 400;
}
/*------------- review-best review -------------------*/
.review-left{
    width:66%;
    padding-right:10px;
}
.review-right{
    width:33%;

}
@media screen and (max-width:976px){
    .review-left {
        width:100%;
    }
    .review-right{
        width:100%;
        margin-top:30px;
    }
}
.title{
    font-size:1.1875rem !important;
}
.comment{
    font-size: 0.8125rem !important;
}
.title-review h6{
    font-weight: 400 !important;
}
.title-best h6{
    font-weight: 400 !important;
}
.readmoreView{
    font-weight: 600;
    font-size: 0.75rem;
    text-decoration: none !important;
}

@media (max-width:568px){
    .col-md-8{
       
        flex: 0 0 100%;
        max-width: 100%;
    }
    .img-review{
        display: none;
    }
    .col-md-4{
       
        flex: 0 0 100%;
        max-width: 100%;
        padding-top:30px;
    }
}
@media (max-width:774px){
    .img-review{
        display: none;
    }
    .col-md-4{
        padding-top:30px;
    }
    
}
/* xử lý readmore comment  */
.comment {
    margin-bottom: 5px;
    padding-bottom: 5px;
    height: 100px;
    overflow:hidden;
    text-overflow: ellipsis;
    content: "";
    position:relative;
}


.commentActive {
    height: 100%;
}
.gr{
    visibility: hidden;
    /* background-color: #0F131E ; */
}
.backgr{
    position: absolute;
    bottom: 0;
    left:0;
    width:100%;
    height:50px;
    background: linear-gradient(to bottom, rgba(15, 19, 30, 0.5), #0f131e);
}
.box{
    position: relative;
}
/*-------------------------  footer  -----------------------*/
.footer{
    background-color: #1a1a1a !important;
    color: #f8f9fa !important;
}
li{
    list-style-type: none !important;
}
.logo_content{
    margin-top:30px
}
.icon{
    display: inline;
}
.icon .item{
  padding-right:20px;
  color: #f8f9fa !important;
}
.tile{
    margin-top:30px;
    padding-bottom:30px;
}
@media screen and (max-width:991px){
    .col-md-3{
        width:49%;
    }
}
@media (min-width: 768px){
    .col-md-3 {
        -ms-flex: 0 49%;
        flex: 0 0 49%;
        max-width: 49%;
    }
    .icon {
        margin-top:20px;
    }
    .col-md-2 {
        -ms-flex: 0 0 49%;
        flex: 0 0 49%;
        max-width: 49%;
        padding-left:20px;
    }
}