*{
    margin:0;
    padding:0;
}
body{
    color :#fff;
}
.container-fluid{
    padding-right:0;
    padding-left:0;
    background-color: #0F131E;
}
h1::after{
    display:block;
    height:2px;
    background-color:rgb(213,216,22);
    content:" ";
    width:100px;
    margin: 0 auto;
    margin-top: 40px;
}
/*--------Menu -------------*/
/*---------login --------------*/
.nav-login .navbar-nav .dropdown .dropdown-menu a{
    color: #757575;
    color:black;
}
.nav-item {
    display: inline;
}
.list-menu {
    display: inline;
}
.nav-link{
    display: inline;
    color:#fff;
    font-size: 14px;
}
.list-menu-div{
    padding-top:10px;
}
.bg-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.7);
    padding:20px;
}
.bg-dark .navbar-nav .nav-link:hover{
    color: #fff !important;
   
}
/*-----menu----------*/
.bg-dark .list-menu .nav-link {
    color: rgba(255, 255, 255, 0.7);
    padding:20px;
}
.bg-dark .list-menu .nav-link:hover{
    color: #fff !important;
    
   
}
.dropdown-menu{
    border-bottom: 2px solid #ffc107;
    border-radius: 0rem;
    padding:10px;
}
.dropdown-menu a{
    font-size: 0.8125rem ;
    color: #757575 !important;
}
.dropdown-menu:hover{
    display:block;
}
.navbar{
    width:100%;
    padding-top:10px;
    padding-bottom: 15px;
}

.navbar-brand .logo{
    width:161px;
    height:43px;
}

@media screen and (max-width:996px) {
    .navbar-brand .logo{
        width:131px;
        height:33px;
    }
    .nav-login li{
        margin:0px;
    }
   
}
@media screen and (max-width:990px) {
    .nav_search{
        display: none;
    }
    

}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0 ;
}
/* .nav-link {
  
    padding: 0 !important;
} */
.header1 li a{
    color:#fff;
    font-size: 13px;

}
.header1 li{
    margin:10px;
}
.row{
    margin-right: 0;
    margin-left: 0;
}
/*----- xuwr ly su kien khi hover hieen class ----------*/
.nav-item:hover .dropdown-menu{
    display:block;
}

/* cart */
.form-cart{
    width:400px;
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    z-index: 100;
    background: rgba(21, 21, 21, 0.95);
    opacity: 0;
    visibility: hidden;
}
.show{
    opacity: 1;
    visibility: visible;
    transition: 0.6s;
}
.cart{
    padding:19px;
}
.close{
    width:100%;
   
    display: contents;
}
.input-cart{
    background: rgba(21, 21, 21, 0.95) !important;
    border:0;
    width:30px;
}
.view-cart {
  
    margin-top: 280px;
    text-align: center;
    width: 100%;
 
    position: relative;
    width: 100%;
}
.view-cart a{
    padding-top:10px;
    padding-left:25%;
    padding-right:25%;
    padding-bottom: 10px;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    text-decoration: none !important;
}
.view-cart a:hover{
    background-color: #fff;
    color:black !important;
}
.slt{
    cursor: pointer;
}
.slg{
    cursor: pointer;
}

/*---main  */
.inputt{
    background-color: #0F131E;
}
/* xu ly an hien */
/* .content-pay{
    opacity: 0;
    visibility: hidden;
}
.showpay{
    opacity: 1;
    visibility: visible;
}
.content-card{
    opacity: 0;
    visibility: hidden;
} */

/*-------------------------  footer  -----------------------*/
.footer{
    background-color: #1a1a1a !important;
    color: #f8f9fa !important;
}
li{
    list-style-type: none !important;
}
.logo_content{
    margin-top:30px
}
.icon{
    display: inline;
}
.icon .item{
  padding-right:20px;
  color: #f8f9fa !important;
}
.tile{
    margin-top:30px;
    padding-bottom:30px;
}
@media screen and (max-width:991px){
    .col-md-3{
        width:49%;
    }
}
@media (min-width: 768px){
    .col-md-3 {
        -ms-flex: 0 49%;
        flex: 0 0 49%;
        max-width: 49%;
    }
    .icon {
        margin-top:20px;
    }
    .col-md-2 {
        -ms-flex: 0 0 49%;
        flex: 0 0 49%;
        max-width: 49%;
        padding-left:20px;
    }
}
/*mobile*/
@media only screen and (max-width:739px){
    .list-menu{
        display:block;
        padding-inline-start: 0;
    }
    .nav-item{
        display: block;
        margin-top:1rem;
    }
    .content-place-left{
        width:98%;
    }
    .content-place-right{
        width:98%;
    }
   
}
/*-----tablet------*/
@media only screen and (max-width:1023px) and (min-width:740px){
    .navbar-nav.search-item{
        display:none;
    }
    .content-place-left{
        width:98%;
    }
    .content-place-right{
        width:98%;
    }
}
/*---PC ------*/
@media only screen and (min-width:1024px){
    /* .profile-avata{
        margin-top:1rem !important;
    } */
    .float-left{
        width:47%;
    }
    .float-right{
        width:52%;
    }
    .btn-giam,.btn-tang{
        width:2rem;
    }
    .content-place-left{
        width:66%;
    }
    .content-place-right{
        width:33%;
        padding-left:1rem;
    }
}


