body{
    color :#fff;
}
.container-fluid{
    padding-right:0;
    padding-left:0;
    
}
.row{
    margin-left:0;
    margin-right:0;
}
h1::after{
    display:block;
    height:2px;
    background-color:rgb(213,216,22);
    content:" ";
    width:100px;
    margin: 0 auto;
    margin-top: 40px;
}
/*--------Menu -------------*/
/*---------login --------------*/
.nav-login .navbar-nav .dropdown .dropdown-menu a{
    color: #757575;
    color:black;
}
.nav-item {
    display: inline;
}
.list-menu {
    display: inline;
}
.nav-link{
    display: inline;
    color:#fff;
    font-size: 14px;
}
.list-menu-div{
    padding-top:10px;
}
.bg-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.7);
    padding:20px;
}
.bg-dark .navbar-nav .nav-link:hover{
    color: #fff !important;
   
}
/*-----menu----------*/
.bg-dark .list-menu .nav-link {
    color: rgba(255, 255, 255, 0.7);
    padding:20px;
}
.bg-dark .list-menu .nav-link:hover{
    color: #fff !important;
    
   
}
.dropdown-menu{
    border-bottom: 2px solid #ffc107 !important;
    border-radius: 0rem;
    padding:10px;
}
.dropdown-menu a{
    font-size: 0.8125rem ;
    color: #757575 !important;
}
.dropdown-menu:hover{
    display:block;
}
.navbar{
    width:100%;
    padding-top:10px;
    padding-bottom: 15px;
}

.navbar-brand .logo{
    width:161px;
    height:43px;
}

@media screen and (max-width:996px) {
    .navbar-brand .logo{
        width:131px;
        height:33px;
    }
    .nav-login li{
        margin:0px;
    }
   
}
@media screen and (max-width:990px) {
    .nav_search{
        display: none;
    }
    

}
.header1 li a{
    color:#fff;
    font-size: 13px;

}
.header1 li{
    margin:10px;
}
.row{
    margin-right: 0;
    margin-left: 0;
}
/*----- xuwr ly su kien khi hover hieen class ----------*/
.nav-item:hover .dropdown-menu{
    display:block;
}
/*-------------------------slide------------------------*/
.slide_caption{
    margin-top:10rem;
    margin-left:11rem;
    display: block;
}
.slide_caption h5{
    display: block;
}
.Buy a,p{
    display: inline;
}
.Buy {
   margin-top:20px;
}
/*---------------- most popular ------------------------*/
.item-add-to-cart:hover .title-img-morelike{
    display: block;
}
.title-img-morelike{
    display: none;
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    background-color: #ffc107;
    padding-left:10px;
    padding-bottom:10px;
    text-align:center ;
    
}
.nhung {
    text-align: center;
}
.po::after{
    content:" |";
    margin-left:.5rem !important;
}
.title-popu{
    margin-top:20px;
}
.title-img-morelike a{
    text-decoration: none !important;
}
.most_popular{
    position: relative;
    height:100vh;
    background-color: #0F131E;
}
.background-popu{
    background-image: url(../test3/test3/assets/img/bg_shape.png);
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: over;
    z-index: -1;
    background-attachment: fixed;
    filter: brightness(80%);
}

/*---------------- gutter ----------------------*/
/*  */
.col-md-6{
    padding-right:0 !important;
    padding-left:0 !important;
 }
.no-gutter{
    position: relative;
    height: 100vh;
}
.gutter1-left-content{
    position: absolute;
    top:120px;
    right:50px;
    color:black;
    display: block;
    text-align: end;
}
.gutter1-left-content .text{
    font-size: 40px;
}
.gutter1-left-content span{
    display: block;
}
.gutter1 img{
    width:100%;
    height:100vh;
    padding-right:0 !important;
    padding-left:0 !important;
}
.gutter2-right-content{
    position: absolute;
    top:120px;
    left:50px;
    color:black;
    display: block;
    text-align: start;
}
.gutter2-right-content span{
    display: block;
    padding:10px;
}
.gutter2-right-content .text{
    font-size: 40px;
}
.right1{
    position: absolute;
    top:90px;
}
.left{
    position: absolute;
    top:90px;
}
@media screen and (max-width:858px){
    .gutter1-left{
        width:100%;
    }
    .gutter1-right{
        width:100%;
    }
}
 /*----------- lastest news --------------*/
 .latest-item{
     margin-top:50px;
 }
 .img-latest img{
     width:100%;
     height:auto;
 }
 .content-latest span{
     margin-top:10px;
     
 }
 .fa-tags{
    color: #17a2b8 !important;
 }
 .tags{
    color: #17a2b8 !important;
 }
 
 .content-latest p{
     margin-top:20px;
 }
 .read-more{
    border-color: #f8f9fa;
   
    color:#ffff;
    font-size: 1rem;
 }
 .banner{
     padding-top:100px;
 }
 .text-gray{
    color: #adb5bd !important;
 }
 @media screen and (max-width:768px){
    .content-latest{
        margin-top:30px;
    }
 }
 /*-------------------------  footer  -----------------------*/
 .footer{
    background-color: #1a1a1a !important;
    color: #f8f9fa !important;
}
li{
    list-style-type: none !important;
}
.logo_content{
    margin-top:30px
}
.icon{
    display: inline;
}
.icon .item{
  padding-right:20px;
  color: #f8f9fa !important;
}
.tile{
    margin-top:30px;
    padding-bottom:30px;
}
@media screen and (max-width:991px){
    .col-md-3{
        width:49%;
    }
}
@media (min-width: 768px){
    .col-md-3 {
        -ms-flex: 0 49%;
        flex: 0 0 49%;
        max-width: 49%;
    }
    .icon {
        margin-top:20px;
    }
    .col-md-2 {
        -ms-flex: 0 0 49%;
        flex: 0 0 49%;
        max-width: 49%;
        padding-left:20px;
    }
}